/***** ОБЩИЕ СТИЛИ (начало) *****/
html {
    font-size: 17px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    color: #041032;

    background-color: #f4f6fb;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 150%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    color: #4050a5;

    transition: all 0.25s;
}

a:hover {
    color: #ef5e42;
    text-decoration: none;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 18px 48px;

    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    
    border-radius: 30px;
    background-color: #ef5e42;
}

.btn:hover {
    color: #ffffff;
    background-color: #ef8042;
}

.btn:active {
    color: #ffffff;
    background-color: #b54029;
}

.btn::before {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    border: 2px solid #041032;
    border-radius: 30px;

    transform: rotate(-3deg);
    transition: all 0.5s;
}

.btn:hover::before {
    transform: rotate(3deg);
}

.btn:active::before {
    transform: rotate(0);
}

.btn-circle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;

    width: 60px;
    height: 60px;

    border-radius: 100%;
    background-color: #ef5e42;

    transition: all 0.25s;
}

.btn-circle:hover {
    cursor: pointer;
    background-color: #ef8042;
}

.btn-circle:active {
    background-color: #b54029;
}

.btn-circle-play,
.btn-circle-plus {
    background-repeat: no-repeat;
    background-position: center;
}

.btn-circle-play {
    background-color: #88caff;
    background-image: url("../img/icon-play.svg");
}

.btn-circle-play:hover {
    background-color: #a7d5fb;
}

.btn-circle-play:active {
    background-color: #31a1fd;
}

.btn-circle-plus {
    background-image: url("../img/icon-plus.svg");
}

.btn-circle::before {
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: -7px;

    width: 73px;
    height: 56px;

    content: "";

    border: 2px solid #041032;
    border-radius: 100%;

    transform: rotate(10deg);

    transition: all 0.5s;
}

.btn-circle:hover::before {
    transform: rotate(-180deg);
}

.btn-circle:active::before {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

.title {
    font-size: 42px;
    font-weight: bold;
}
/***** ОБЩИЕ СТИЛИ (конец) *****/

/***** HEADER (начало) *****/
header {
    padding: 30px 0;
}

header .container {
    align-items: center;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 740px;
}

.main-menu > li:not(.burger-menu) {
    display: inline-block;
}

.main-menu a:not(.btn) {
    font-size: 20px;
}

.burger-menu {
    display: none;
}
/***** HEADER (конец) *****/